.kartaPic {
    width: 100px;
    height: 20px;
    margin: 0 5px 10px;
    /* background: rgb(249, 249, 251); */
    /* border-radius: 30%; */
    
    border: 1px solid black;
  
    /* background-image: url(./pic/visa.png); */
    /* background-image: url(visa.png); */
  }
  
.containerCart {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: flex-start;
    background: rgb(116, 116, 222);
    margin: 3px;
      
    width: 400px;
    border: 1px solid black;

    padding: 3px;
}

/* .visa {
    background-image: url(./pic/visa.png);
} */
  