.cartPic {
    width: 70px;
    height: 20px;
    margin: 0 5px 10px;
    background: rgb(175, 215, 172);
    text-align: center;
    border: 1px solid black;
  }
  
.containerCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: rgb(116, 116, 222);
    margin: 3px;
    width: 410px;
    border: 1px solid black;
    padding: 3px;
}


/* Карты */
.mir {
    font-size: 15px;
}

.americanExpress {
    font-size: 9px;
}

.visa {
    font-size: 15px;
}

.masterCard {
    padding-top: auto;
    padding-bottom: auto;
    font-size: 12px;
}

.discover {
    padding-top: auto;
    padding-bottom: auto;
    font-size: 14px;
}
